body{
    background-color: F#FFFFFF;

}

header{


}

header>h1 {
    background-color: rgb(246, 232, 162);

}


nav{
    padding: 0;
    
}

header h2{

}

dt{

}
.ut{
    display: inline;
    background-color: rgb(206, 13, 13);
    }
#wrapper{
    background-color: rgb(109, 130, 234);
}

footer{
    
}



