body {
    font-family:'Times New Roman', Times, serif ;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}


h1 {
    background-color: #FA00FA;
    color:black;
    font-weight: 100;
}

ul {
color: #ffe4c4;
}

p {

}